*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build/outputs/logs
/build/outputs/logs/*.txt
!/build/outputs/apk/debug
/build/outputs/apk/debug/*.json
!/build/outputs/apk/debug/*.apk
.externalNativeBuild
.cxx
local.properties
*.jks
 /build/outputs/apk/androidTest